<ion-card *ngIf="task.status === 'Done'">

  <ion-card-header>
    <ion-card-subtitle>{{ task.status}}</ion-card-subtitle>
    <ion-card-title>{{ task.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
Start Date:{{ task.date_of_start | date }} <br>
Description: {{ task.description }} <br>
End Date: {{ task.date_of_end | date }} <br>
<ion-checkbox (ionChange)="updateTask()"></ion-checkbox>
<ion-button (click)="goToDo()">Confirm Unfinished</ion-button>
  </ion-card-content>
</ion-card>

